<div class="text-center">
  <h1>Sign up</h1>

  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Bad input</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :screenname %><br/>
      <%= f.text_field :screenname %>
    </p>
    <p>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %>
    </p>
    <p class="button"><%= f.submit value = "Sign up" %></p>

  <% end %>
</div>