

<div class="row">
<div class="span11 offset1" style="color: #bc131a">
  <h2>Favorite Teams</h2>
</div>

<% @current_user.teams.each do |team| %>
  <div class="span10 offset2">
  <h3>
    <%= team.city %> <%= team.name %>
  </h3>
  </div>
  <div class="span9 offset3">
  <% if team.pitchers.empty? %>
    <p>The <%= team.name %> have no flamethrowers!</p><br/>
  <% else %>
    <h4 style="color: #bc131a">Pitchers:</h4>

      <% team.pitchers.each do |pitcher| %>
        <h4><%= pitcher.first %> <%= pitcher.last %></h4>
         <p>Number of times leading the league: <%= pitcher.pitches.size %></p><br/>
      <% end %>

  <% end %>

</div>
<% end %>

</div>