<h2>Favorite Teams</h2>

<% @current_user.teams.each do |team| %>
  <h3>
    <%= team.city %> <%= team.name %>
  </h3>

  <% if team.pitchers.empty? %>
    <p>The <%= team.name %> have no flamethrowers!</p>
  <% else %>
    <p>Pitchers:</p>
    <p>
      <% team.pitchers.each do |pitcher| %>
        <%= pitcher.first %> <%= pitcher.last %><br/>
        Number of times leading the league: <%= pitcher.pitches.size %>
      <% end %>
    </p>
  <% end %>
<% end %>