

<div class="row">
<div class="span11 offset1" style="color: #bc131a">
  <h2>Favorite Teams</h2>
</div>

<% @current_user.teams.each do |team| %>
  <div class="span10 offset2">
  <h3>
    <%= team.city %> <%= team.name %>
  </h3>
  </div>
  <div class="span9 offset3">
  <% @j = 0 %>
  <% if team.pitchers.empty? %>
    <h4 style="color: #bc131a">Pitchers:</h4>
    <p>The <%= team.name %> have no flamethrowers!</p><br/>
  <% else %>
    <h4 style="color: #bc131a">Pitchers:</h4>

      <% team.pitchers.each do |pitcher| %>
        <% i = 0 %>
        <% pitcher.pitches.each do |k| %>
          <% if k.year == 2014 %>
            <% i += 1 %>
          <% end %>
        <% end %>
        <% if i > 0 %>
          <h4><%= pitcher.first %> <%= pitcher.last %></h4>
          <p>Number of times leading the league: <%= i %></p><br/>
          <% @j = 1 %>
        <% end %>
      <% end %>
      <% if @j == 0 %>
        <p>The <%= team.name %> have no flamethrowers!</p><br/>
      <% end %>
  <% end %>

</div>
<% end %>

</div>