<h2>Search Results</h2>

<% @teams.each do |team| %>
  <h3>
    <div style="float: left; width: auto;">
    <%= team.city %> <%= team.name %></div>
    <%= button_to "Favorite", favorite_path(abbreviation: team.abbreviation) %>
  </h3>
  <% if team.pitchers.empty? %>
      <p>The <%= team.name %> have no flamethrowers!</p>
  <% else %>
    <p>Pitchers:</p>
    <p>
      <% team.pitchers.each do |pitcher| %>
        <%= pitcher.first %> <%= pitcher.last %><br/>
        Number of times leading the league: <%= pitcher.pitches.size %><br/>
      <% end %>
    </p>
  <% end %>
<% end %>

<% if @teams.empty? %>
  No results
<% end %>