<!DOCTYPE html>
<html>
<head>
  <title>Daily Pitches</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Daily Pitches</h1>
  <%= render 'navbar' %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  <%= yield %>

  <footer>
    <a href="http://www.twitter.com/dailypitches"><%= image_tag("social-twitter.png", alt: "Twitter") %></a>
  </footer>

</body>
</html>
